
:root {
    /* Fonts */
    --roboto: 'Roboto', Verdana, sans-serif;

    /* Gradients */
    --gradient-color: linear-gradient(90deg, #4458dc 0%, #854fee 100%);
    --gradient-color2: linear-gradient(to right, #8800ff, #8000f0);

    /* Colors */
    --primary-color: #4458dc;
    --primary-color2: #854fee;
    --navlink-color: #141313;

    /* Shadows */
    --shadow-color: 0px 10px 30px rgba(118, 85, 255, 0.3);
    --box-shadow: 0px 10px 30px rgba(57, 56, 61, 0.205);
}